* {
    margin: 0;
    padding: 0;
    
}
Body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background: hsl(9, 23%, 89%);
    
}
h1 {
    font-weight: 700;
    background-color: beige;
    padding: 3px;
    border-radius: 5px;
}