body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}

  img {
    height: 100%;
    width: 100%;
    
  }



.top-logo {
    height: 40px;
}

.fb-logo {
    width: 30px;
}

.header1-image {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
    display: inline-block;
    
}

h1 {
    text-align: center ;
}
.this {
    display: inline-block;
}

.img-car-history {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    
    width: 100%;

}

.this {
    padding-left: 10px;
    padding-right: 10px;
}

.pic3 {
    padding-left: 10px;
    padding-right: 10px;
}

.history {
    display: inline-block;
    
}

h1.title {
    position: absolute;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 700;
    top: 2%;
    left: 2%;
}

.history-text {
    width: 100%;
    text-align: center;
    display: inline-block;
}
#btn-history {
    text-align: center;
}



#more-history {
    display: none;
}
 .admin-pic {
    width: 100vw;
 }

 .who-we-are {
    margin-top: 100px;
    margin-bottom: 100px;
 }

.join-us {
    display: flex;
    justify-content: center;
}

.qr {
    display: flex;
    justify-content: center;
}
 .qr-code {
    height: 500px;
    width: auto;
 }

 .sponsors {
    padding-left: 10px;
    padding-right: 10px;
 }

.pic-box {
    padding: 5px;
    border-radius: 30px;
    height: 200px;
    object-fit: cover;
}

.buying {
    margin-top: 100px;
    display: block;
}
h3{
    text-align: center;
}